{#
 * This file is a part of the fablab_portal package.
 * 
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : blog/home.html.twig - date : 10 nov. 2022
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

{% trans_default_domain 'blog' %}

{% extends 'layout_base.html.twig' %}

{% block title %}{{ 'blog.module.name' | trans | title }}{% endblock %}

{% block head %}
	{{ parent() }}
	<meta name="description" content="Le blog du FabLab.">
{% endblock head %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block app_central %}

<section class="bg-light pt-2 pb-5 shadow-sm">
	<article class="container-fluid">
		<header class="col-md-12 text-center">
        	<h2 class="app-text-blue01-site"><strong>{{ 'blog.title.home' | trans }}</strong></h2>
        </header>
        <div class="row">
			<div class="col-md-2 mb-3 d-flex align-items-stretch"></div>
        	<div class="col-md-3 mb-3 d-flex align-items-stretch">
                <div class="card">
                	<img src="{{ asset('build/images/blog/20220910_101402_Journéé_Assoc.jpg') }}" class="card-img-top img-thumbnail border border-success" alt="...">
                    <div class="card-body d-flex flex-column">
                    	<h5 class="card-title text-success"><strong>Journée des associations Saint-Gély</strong></h5>
                    	<p class="card-text">Beaucoup d'intérêt sur ce qu'est un FabLab et les activités proposées. Des présentations d'objets réalisés en découpe Laser, en imprimante 3D, de l'électronique, etc.</p>
                    	<p class="card-text"><small class="text-muted">10 septembre 2022</small></p>
                    </div>
                </div>
        	</div>
        	<div class="col-md-3 mb-3 d-flex align-items-stretch">
                <div class="card">
                	<img src="{{ asset('build/images/blog/20221015_104052_Festival_Planète_Vivante.jpg') }}" class="card-img-top img-thumbnail border border-success" alt="...">
                	<div class="card-body d-flex flex-column">
                  		<h5 class="card-title text-success"><strong>Festival Planète Vivante</strong></h5>
                  		<p class="card-text">A l'invitation de l'association ASTEC qui organise le festival, notre stand en cours d'installation. De nombreux échanges et un intérêt vif pour le FabLab.</p>
                  		<p class="card-text"><small class="text-muted">15 & 16 octobre 2022</small></p>
                	</div>
                </div>
            </div>
        	<div class="col-md-3 mb-3 d-flex align-items-stretch">
                <div class="card">
                	<img src="{{ asset('build/images/blog/20221102_Article_Midi_Libre_Nano.png') }}" class="card-img-top img-thumbnail border border-success" alt="...">
                	<div class="card-body d-flex flex-column">
                  		<h5 class="card-title text-success"><strong>Soirée nanos satellites du Clapas</strong></h5>
                  		<p class="card-text"></p>
                  		<p class="card-text"><small class="text-muted">Article du Midi-Libre édition Montpellier le 2 novembre 2022</small></p>
                	</div>
                </div>
			</div>
        </div>
        
        <div class="row">
        	<div class="col-md-2 mb-3 d-flex align-items-stretch"></div>
            <div class="col-md-3 mb-3 d-flex align-items-stretch">
                <div class="card">
                	<img src="{{ asset('build/images/blog/20221117_Claret_CA.jpg') }}" class="card-img-top img-thumbnail border border-success" alt="...">
                	<div class="card-body d-flex flex-column"">
                  		<h5 class="card-title text-success"><strong>Collaboration avec l'Atelier de Claret</strong></h5>
                  		<p class="card-text">Intervention Claude Alibert pour un remake à Claret de la soirée FabLab St Gély du 6 octobre 2022</p>
                  		<p class="card-text"><small class="text-muted">17 novembre 2022</small></p>
                	</div>
                </div>
    		</div>
    		<div class="col-md-3 mb-3 d-flex align-items-stretch">
    			<div class="card">
    				<img src="{{ asset('build/images/blog/20221206_Article_Midi_Libre_Domo.png') }}" class="card-img-top img-thumbnail border border-success" alt="...">
                	<div class="card-body d-flex flex-column"">
                  		<h5 class="card-title text-success"><strong>Soirée panneaux solaires & domotique</strong></h5>
                  		<p class="card-text">Article du Midi-Libre édition Montpellier le 6 décembre 2022</p>
                	</div>
    			</div>
    		</div>
    		<div class="col-md-3 mb-3 d-flex align-items-stretch">
    			<div class="card">
    			<img src="{{ asset('build/images/blog/20230111_AGE_Conf_01.jpg') }}" class="card-img-top img-thumbnail border border-success" alt="...">
                	<div class="card-body d-flex flex-column"">
                  		<h5 class="card-title text-success"><strong>Assemblée Générale Extraordinaire</strong></h5>
                  		<p class="card-text">Echanges et votes sur les points à l'ordre du jour.<br>
						Demande de contribution à tous pour les mois à venir, pour le transport et le montage des équipements, la mise en œuvre d'atelier,
						 de sessions de formation, de soirée à thèmes, etc pour faire vivre l'association.<br>
						 Merci aux différents contributeurs photos.
						 </p>
                  		<p class="card-text"><small class="text-muted">11 janvier 2023</small></p>
                	</div>
    			</div>
    		</div>
    	</row>
    	<div class="row">
			<div class="col-md-2 mb-3 d-flex align-items-stretch"></div>
    		<div class="col-md-3 mb-3 d-flex align-items-stretch">
    			<div class="card">
    			<img src="{{ asset('build/images/blog/20230111_Montage.jpg') }}" class="card-img-top img-thumbnail border border-success" alt="...">
                	<div class="card-body d-flex flex-column"">
                  		<h5 class="card-title text-success"><strong>Assemblée Générale Extraordinaire</strong></h5>
                  		<p class="card-text">Après les travaux en A.G.E., visite des locaux disponibles et moment de convivialité dans l'espace détente du bâtiment autour de la galette des rois.<br>
                  		Merci aux différents contributeurs photos.
						</p>
                  		<p class="card-text"><small class="text-muted">11 janvier 2023</small></p>
                	</div>
    			</div>
    		</div>
		</div>
	</article>
</section>
{% endblock app_central %}