{#
 * This file is a part of the fablab portal package.
 *
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : user/dashboard.html.twig - date : 11 oct. 2021
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

{% trans_default_domain 'user' %}

<div class="col-md-12">
    <h5 class="text-center font-weight-bold text-light app-bg-green01-site">{{ 'user.title.dashboard_block' | trans }}</h5>
    <h6>
        <div class="border border-primary rounded text-center small">
    		<strong>{{ 'user.title.profile' | trans }}</strong>
    		<ul id="connected_list" class="list-group">
    		    <li>{{ 'user.ldap.cn' | trans }} : {{ app.user.entry.attributes.cn[0] }}</li>
    		    <li>{{ 'user.ldap.title' | trans }} : {{ app.user.entry.attributes.title[0]==0 ? 'user.ldap.man' | trans : 'user.ldap.woman' | trans }}</li>
    		    <li>{{ 'user.ldap.loginCount' | trans }} : <span class="badge text-bg-info">{{ userSettings.loginCount }}</span></li>
    		{# Badge : remis le 11/10/2021<br>
    		Numéro badge : {{ user.entry.attributes.uidNumber[0] is null ? '' : user.entry.attributes.uidNumber[0] }}<br> #}
    		{#Email : {{ user.entry.attributes.mail[0] }}<br>
    		Rôle : {% for role in user.roles %}
	               {{ role }} - 
                   {% endfor %}<br>#}
            {# <img width="50" height="50" src="{{ asset('build/images/member/CM.jpg') }}" class="rounded mx-auto d-block img-responsive img-thumbnail"> #}
            {% if app.user.entry.attributes.jpegPhoto[0] is defined %}
            	<img width="50" height="50" src="data:image/jpeg;base64, {{ app.user.entry.attributes.jpegPhoto[0] | base64_encode }}" class="rounded mx-auto d-block img-responsive img-thumbnail">
            {% endif %}
            {#
            Première adhésion : 23/11/2021<br>
            Dernière adhésion : 23/11/2021<br>
            Cotisation expire le : 24/11/2022<br>
            #}

            {% if app.user.entry.attributes.street[0] is defined %}
            	Adresse postale : {{ app.user.entry.attributes.street[0] }}<br>
            {% endif %}
            {% if app.user.entry.attributes.postalCode[0]is defined %}
                {{ app.user.entry.attributes.postalCode[0] }} -  {{ app.user.entry.attributes.l[0] }}<br>
			{% endif %}
    		</ul>
        </div>
        <div class="border border-primary rounded text-center small">
    		<strong>{{ 'user.title.internal_messaging' | trans }} <span class="badge bg-success">0</span></strong>
    		
        </div>
        <div class="border border-primary rounded text-center small">
    		<strong>{{ 'user.title.active_training' | trans }}</strong>
    		<ul id="messaging" class="list-group">
    		{#
    		Découpe Laser : niveau 1 - 2<br>
    		Impression 3D : niveau 1 - 2<br>
    		Modélisation Blender : niveau 1<br>
    		Arduino : niveau 1 - 2 - 3<br>
    		#}
    		</ul>
        </div>
        <div class="border border-primary rounded text-center small">
    		<strong>{{ 'user.title.planned_training' | trans }}</strong> <span class="badge text-bg-info">{{ userSettings.plannedTrainingCount }}</span>
    		<div id="rappelevent">
    			
    		</div>
        </div>
        <div class="border border-primary rounded text-center small">
    		<strong>{{ 'user.title.next_meetings' | trans }}</strong>
    		<div id="reminder_my_tasks" class="list-group">
    		{# Base de la domotique : 15/02/2023<br> #}
    		</div>
        </div>
{#
        <div class="border border-primary rounded text-center bg-info small">
    		<strong>{{ 'user.title.mameteo' | trans }}</strong>
    		<ul id="form_meteo" class="list-group"></ul>
        </div>
        <div class="border border-primary rounded text-center bg-info small">
    		<strong>{{ 'user.title.domotique' | trans }}</strong>
    		<ul id="domotique" class="list-group">
    		
    		</ul>
        </div>
        <div class="border border-primary rounded text-center bg-info small">
    		<strong>{{ 'user.title.informatique' | trans }}</strong>
    		<ul id="informatique" class="list-group">
    		
    		</ul>
        </div>
        <div class="border border-primary rounded text-center bg-info small">
    		<strong>{{ 'user.title.infobadge' | trans }}</strong>
    		<ul id="infobadge" class="list-group"></ul>
        </div>
        <div class="border border-primary rounded text-center bg-info small">
    		<strong>{{ 'user.title.present' | trans }}</strong>
    		<ul id="present_list" class="list-group"></ul>
        </div>
#}
	</h6>
</div>