{#
 * This file is a part of the fablab_ portal package.
 * 
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : document_management/home.html.twig - date : 13 oct. 2022
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

{% trans_default_domain 'document' %}

{% extends 'layout_base.html.twig' %}

{% block title %}{{ 'document.module.name' | trans | title }}{% endblock %}

{% block head %}
	{{ parent() }}
	<meta name="description" content="L'espace documentaire du FabLab.">
{% endblock head %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block app_central %}

{% set route, role, button_name =
    [],
	[],
	[]
%}

<section class="container-fluid">
	<article class="container-fluid">
		<header class="col-md-12 text-center">
        	<h2 class="app-text-blue01-site"><strong>{{ 'document.title.home' | trans }}</strong></h2>
        </header>
		<div class="row justify-content-center">
			<div class="col-md-2 rounded-pill bg-light">
				<a href="{{ path('author_list', {'param': 0}) }}">
					<p class="text-center fw-bold">{{ 'document.title.number_authors' | trans }}<br><span class="label label-info">{{ numberAuthors }}</span></p>
				</a>
			</div>
			<div class="col-md-2 rounded-pill bg-light">
				<a href="{{ path('category_list', {'param': 0}) }}">
					<p class="text-center fw-bold">{{ 'document.title.number_categories' | trans }}<br><span class="label label-info">{{ numberCategories }}</span></p>
				</a>
			</div>
			<div class="col-md-2 rounded-pill bg-light">
				<a href="{{ path('document_list', {'param': 0}) }}">
					<p class="text-center fw-bold">{{ 'document.title.number_documents' | trans }}<br><span class="label label-info">{{ numberDocuments }}</span></p>
				</a>
			</div>
			
		</div>
		
		<p class="display-6 text-center fw-bolder app-text-blue01-site">{{ 'document.title.recent' | trans }}
            {{ include ('common/_paging.html.twig', {'route': 'document_management_home'}) }}
    	</div>
		{# <div class="row row-cols-1 row-cols-md-6 g-4""> #}
		<div class="row">
    	{%  for document in objects %}
    		<div class="col-md-2 mb-3 d-flex align-items-stretch">
    			{{ include ('document_management/document/_generic.html.twig', {'mime': document.documentMimeType}) }}
    		</div>
    	{% endfor %}
    	</div>
	</article>
</section>
{% endblock app_central %}
