{#
 * This file is a part of the fablab_ portal package.
 * 
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : home/modalAdresseContent.html.twig - date : 6 jan. 2023
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

{% trans_default_domain 'document' %}

{% extends 'layout_base.html.twig' %}

{% block title %}{{ 'document.module.name' | trans | title }}{% endblock %}

{% block head %}
	{{ parent() }}
	<meta name="description" content="Les tarifs du FabLab.">
{% endblock head %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block app_central %}

{% set route, role, button_name =
    [],
	[],
	[]
%}

<section class="container-fluid">
	<article class="container-fluid">
		<header class="text-center">
        	<h2 class="app-text-blue01-site"><strong>{{ 'pricing.title.list' | trans }}</strong></h2>
        </header>
        <div class="d-flex justify-content-center">
            <table class="table table-bordered table-primary border-primary w-auto">
        		<thead class="text-center">
        			<tr>
                		<th scope="col">{{ 'pricing.prop.name' | trans }}</th>
                		<th scope="col">{{ 'pricing.prop.price' | trans }}</th>
          			</tr>
        		</thead>
        		<tbody>
        			<tr>
        				<td>Adhésion particulier pour un an de date à date (voir Présentation => Devenir membre)</td>
        				<td>50 €</td>
        			</tr>
        			<tr>
        				<td>Adhésion entreprise pour 3 personnes pour un an de date à date (voir Présentation => Devenir membre)</td>
        				<td>150 €</td>
        			</tr>
        			<tr>
        				<td>Usage imprimante 3D matière PLA fournie couleur blanche - noire</td>
        				<td>5 € / 1 ière heure puis 3 € heures supplémentaires</td>
        			</tr>
        			<tr>
        				<td>Usage imprimante 3D matière résine fournie couleur blanche - noire</td>
        				<td>5 € / heure</td>
        			</tr>
        			<tr>
        				<td>Usage découpe Laser - matière non fournie</td>
        				<td>15 € / 1 ière 1/2 heure - 10 € par 1/2 heure suplémentaire</td>
        			</tr>
        			<tr>
        				<td>Usage impression & découpe vinyle</td>
        				<td>forfait 5 € + matière fournie 2 € / 10 cm</td>
        			</tr>
        			<tr>
        				<td>Accompagnement projet</td>
        				<td>50 € / heure</td>
        			</tr>
        		</tbody>
        	</table>
    	</div>
    	<footer class="text-center">
        	<h4 class="app-text-blue01-site"><strong>Ces tarifs sont donnés à titre informatif. Veuillez vous renseigner auprès d'un membre du bureau ou référent avant tout début de prestation. </strong></h4>
        	<h6 class="app-text-blue01-site">Les prestations d'usage doivent être payées à la fin de la prestation au membre responsable de permanence.</h6>
        </footer>
    </article>
</section>
{% endblock app_central %}