{#
 * This file is a part of the fablab_ portal package.
 * 
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : training_management/list/registered.html.twig - date : 26 jan. 2023
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

{% trans_default_domain 'training' %}

{% extends 'layout_base.html.twig' %}

{% block title %}{{ 'training.module.name' | trans | title }}{% endblock %}

{% block head %}
	{{ parent() }}
	<meta name="description" content="L'espace gestion des formations du FabLab Saint-Gély du Fesc.">
{% endblock head %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block inner_central_app_central %}

<aside id="inner_central" class="col-md-10">
{% set route, role, button_name =
    [''],
	[''],
	[]
%}

{{ include ("common/_header.html.twig",
    	{	'domain': 'training',
    		'route_root': 'user_profile',
    	    'module': "training.module.name" | trans,
    	    'title': 'training.title.list_registered' | trans,
    	    'logo': 'app/Logo_FabLab_SG03.png',
    	    'alt_logo': '' | trans,
    	})
}}
	<header class="col-md-12 text-center">
	<h3>{{ 'training.prop.title' | trans }} : {{ train.title }} - {{ 'training.prop.number_initial' | trans }} = {{ train.numberInitial }} - {{ 'training.prop.number_available' | trans }} = {{ train.numberAvailable }}</h3>
	</header>
	<div class="row">
    {% for user in users %}
    	<div class="col-md-3 mb-3 d-flex align-items-stretch">
    	{{ include('training_management/list/_user.html.twig', {user: user}) }}
    	</div>
    {% endfor %}
    </div>
</aside>
{% endblock inner_central_app_central %}