{#
 * This file is a part of the fablab portal package.
 *
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : home/about.html.twig - date : 12 jan. 2022
 
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

{% trans_default_domain 'app' %}

{% extends 'layout_base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block app_central %}
<section class="container-fluid">
	<article class="container-fluid">
		<header class="col-md-12 text-center">
        	<h2 class="app-text-blue01-site"><strong>A propos</strong></h2>
        </header>
        <div class="row row-cols-2 justify-content-center">
        	<div class="border border-3 border-primary">
            	<h5>
                	<p>
                	Ce site est le portail web du FabLab Saint-Gély du Fesc.<br>
                	Il est un vecteur de communication avec les membres du FabLab et plus globalement des personnes pouvant être intéressées par les activités du FabLab.<br>
                	Il permet aux personnes intéressées par les activités numériques d'accéder aux informations sur la vie de l'association et de disposer simplement des documents produits.<br>
                	En cours d'évolution, il doit permettre de devenir membre en ligne, de s'inscrire à des événements, de réserver des ressources,
                	d'échanger en direct entre membres par un chat,
                	de renouveler son adhésion, de payer sa cotisation, de voir les horaires d'ouverture des locaux en temps réel, d'échanger des documents, etc.
                	</p>
            	</h5>
        	</div>
        	<div class="border border-3 border-primary">
            	<h5>
                	<p>
                	Il est développé avec le framework php Symfony 
                	<img src="{{ asset('build/images/app/Symfony.png') }}" class="card-img-top img-thumbnail border border-success" style="height: 50px;width: 50px" alt="Symfony">, le framework bootstrap et divers package open source.<br>
                	Il repose sur une base de données mariadb et l'espace membre utilise un annuaire openldap.<br>
                	L'architecture d'hébergement est un serveur Linux sous version Fedora Server.
                	<img src="{{ asset('build/images/app/Fedora.png') }}" class="card-img-top img-thumbnail border border-success" style="height: 50px;width: 50px" alt="Fedora">
                	<br>
                	La conception, développement et exploitation du portail sont réalisés actuellement par Claude Migne.<br>
                	Tout membre souhaitant participer à son développement et plus généralement au développement du Système d'Information du FabLab est bienvenu.
                	</p>
            	</h5>
        	</div>
        </div>
        <div class="row row-cols-2 justify-content-center">
        	<div class="border border-3 border-primary">
            	<h6>
            		<p class="text-primary small">Version courante : G2R5C2 - installée le 28/01/2023</p>
            		<ul class="small">
            			<li>Liste des inscrits à une formation</li>
            			<li>Réseau Instagram</li>
            		</ul>
            		<p class="small">Version courante : G2R5C1 - installée le 24/01/2023</p>
            		<ul class="small">
            			<li>A la création d'un user dans le ldap, insertion dans le group 'user'</li>
            			<li>Rattachement user - formation avec statut de la réalisation & date d'inscription</li>
            		</ul>
            		
            		<p class="small">Version : G2R5C0 - installée le 22/01/2023</p>
            		<ul class="small">
            			<li>Suppression d'un utilisateur</li>
            			<li>Gestion des formations : liste (alpha)</li>
            			<li>Inscription d'un user à une formation (alpha)</li>
            		</ul>
            		<hr>
            		<p class="small">Version : G2R4C3 - installée le 21/01/2023</p>
            		<ul class="small">
            			<li>Comptage nombre de connexion d'un user dans son espace membre</li>
            			<li>Date dernière connexion d'un user à son espace membre</li>
            		</ul>
            		<p class="small">Version : G2R4C2 - installée le 20/01/2023</p>
            		<ul class="small">
            			<li>Edition d'un membre par administrateur</li>
            			<li>Ajout d'un membre par administrateur</li>
            			<li>Avertissement pour éviter les versements anonymes</li>
            		</ul>
            		<hr>
            		<p>
            			Version : G2R3C4 - installée le 16/01/2023<br>
            			- changement soirée de février 2023<br>
            			- intégration de la structure Référents<br>
            			- lien avec Portail <=> Ldap => Dolibarr<br>
            		</p>	
            		<p>
            			Version : G2R3C2 - le 12/01/2023<br>
            			- révision des membres du conseil d'administration<br>
            			- mise à jour actualités<br>
            			- blog avec photos A.G.E.<br>
            			- intégration documents A.G.E.<br>
            			- nouveaux horaires de permanence<br>
            		</p>
            		<p>
            			Version : G2R3C1 - le 09/01/2023<br>
            			- indicateur interactif d'ouverture du Fablab par admin<br>
            		</p>
            		<p>
            			Version : G2R3C0 - le 08/01/2023<br>
            			- création espace membre pour le bureau (test)<br>
            			- liste des membres (test)<br>
            		</p>
            		<p>
            			Version : G2R2C4 - le 06/01/2023<br>
            			- maj disponibilité des équipements<br>
            			- nouvelle rubrique grille tarifaire<br> 
            		</p>
            	
            		<p>
                	Version : G2R2C3 - le 22/12/2022<br>
                	- ajout des équipements disponibles ou en cours d'achat<br>
                	- formulaire basique de saisie des membres par administrateur<br>
                	- modification du lieu de l'A.G.E.
                	</p>
                	
            		<p>
                	Version : G2R2C2 - le 19/12/2022<br>
                	- ajout dates des soirées 1 ier semestre 2023<br>
                	- draft : identification / authentification<br>
                	- draft : espace membre<br>
                	- draft : liste des membres<br>
                	</p>
                	
                	<p>
                	Version : G2R2C1 - le 14/12/2022<br>
                	- bas de page générique affichant les partenaires<br>
                	- bouton générique permettant de remonter en haut de page<br>
                	- ajout du PV du CA du 08/12/2022<br>
                	</p>
            	
                	<p>
                	Version : G2R1C6 - le 06/12/2022<br>
                	- ajout logo Atelier de Claret en partenaire<br>
                	- ajout dans blog conférence 17/11/2022 à Claret<br>
                	- ajout dans blog article Midi-Libre 06/12/2022<br>
                	- upgrade Symfony en version 5.4.16<br>
                	- upgrade bootstrap 5.2.3<br>
                	</p>
            	</h6>
			</div>
        	<div class="border border-3 border-primary">
            	<h4>
                	<p>
                	Version en cours de développement :<br>
                	- identification / authentification des membres<br>
                	- espace membre avec tableau de bord<br>
                	- gestion de l'espace documentaire par formulaire<br>
                	- interface avec l'annuaire LDAP
                	<br>
                	</p>
            	</h4>
        	</div>
        </div>
    </article>
    {{ parent() }}
        <footer class="col-md-12" style="height:40px"></footer>
</section>

{% endblock app_central %}

{% block javascripts %}
	{{ parent() }}
{% endblock javascripts %}