{#
 * This file is a part of the fablab_ portal package.
 * 
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : home/generic_modal.html.twig - date : 11 oct. 2022
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

<div class="modal fade" id={{ modal }} tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    	<div class="modal-content">
			<div class="modal-header app-bg-green01-site">
        		<h5 class="modal-title text-white" id="exampleModalLabel">{{ app_organization }} {{ app_site }}</h5>
        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      		</div>
			<div class="modal-body">
      		{{ include ('home/' ~ modal ~ 'Content.html.twig') }}
			</div>
      		<div class="modal-footer">
        		{{ action('button', 'close', '', {'data-bs-dismiss': 'modal'}) | raw }}
      		</div>
      	</div>
	</div>
</div>