{#
 * This file is a part of the shu-v2 package.
 * SHU : Smart Home Ultimate
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : common/_header.html.twig - date : 26 mai 2022
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

<div id="dialog-confirm" title="{{ 'app.title.confirm_delete' | trans({}, 'app') }}" style="display:none;">
  	<p>
    	<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    	{{ 'app.msg.confirm_delete' | trans({}, 'app') }}
    </p>
</div>

<header>
	<br>
	<div class="row">
		<div class="col-md-1">
    		<a href="{{ path(route_root) }}">
    			<img src="{{ asset('build/images/' ~ logo ) }}" alt="{{ alt_logo }}" class="img-thumbnail">
    		</a>	
		</div>
		<div class="col-md-11">
			<h3 class="text-3D">{{ module }} - {{ title }}</h3>
			<div class="btn-group">
    			{% for item in route %}
        			{% if is_granted(role[loop.index0]) or role[loop.index0] == 'not_required'%} {# le test not_required permet de mettre des boutons pour un user sans rôle #}
        				<a href="{{ path(item) }}" class="{{ button_name[loop.index0]['class'] }}">
        					<i class="{{ button_name[loop.index0]['icon'] }}"></i> {{ button_name[loop.index0]['name'] }}
        				</a>
        			{% endif %}
    			{% endfor %}
			</div>
		</div>
	</div>
</header>
<hr>