{#
 * This file is a part of the fablab portal package.
 *
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : common/_partners.html.twig - date : 14 déc. 2022
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

{#----------------------------------------------------- Nos Partenaires --------------------------------------------------------------------#}
<hr class="app-text-green01-site auto" />
<div class="col-md-12 text-center app-text-blue01-site"><h3><i class="bi bi-arrow-down-circle-fill"></i> Nos partenaires <i class="bi bi-arrow-down-circle-fill"></i></h3></div>
<div class="border border-3 border-primary text-center app-bg-green01-site">
	<img src="{{ asset('build/images/app/Logo_Leader.jpg') }}" style="width:200px;" class="img-fluid img-thumbnail">
	<img src="{{ asset('build/images/app/Logo_Region_Occitanie.png') }}" style="width:200px;" class="img-fluid img-thumbnail">
	<img src="{{ asset('build/images/app/Logo_Departement_Herault.jpg') }}" style="width:200px;" class="img-fluid img-thumbnail">
	<img src="{{ asset('build/images/app/Logo_Saint_Gely.png') }}" class="img-fluid img-thumbnail">
	<img src="{{ asset('build/images/app/Logo_Atelier_Des_Projets.jpg') }}" style="width:200px;" class="img-fluid img-thumbnail">
	<img src="{{ asset('build/images/app/Logo_RFFLabs.png') }}" class="img-fluid img-thumbnail">
	<img src="{{ asset('build/images/app/Logo_Atelier_Claret.png') }}" class="img-fluid img-thumbnail">
	<img src="{{ asset('build/images/app/Logo_Kloe.png') }}" class="img-fluid img-thumbnail">
</div>