{#
 * This file is a part of the fablab_ portal package.
 * 
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : document_management/document/_generic.html.twig - date : 14 oct. 2022
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

{% trans_default_domain 'document' %}

<div class="card text-dark bg-secondary mb-3 border border-info border-3 rounded-3">
	<div class="card-body">
		<h5 class="card-title text-center">{{ document.title }}</h5>
		<p class="card-text">{{ 'document.prop.summary' | trans }} : {{ document.summary is empty ? 'document.prop.no_summary' | trans : document.summary }}
		<br>{{ 'document.prop.authors' | trans }} : 
		{% if document.authors is not empty %}
            {% for author in document.authors %}
			{{ author.firstName }} {{ author.name }} - 
			{% endfor %}
		{% else %}
			{{ 'document.prop.no_authors' | trans }}
		{% endif %}
		
        <br>{{ 'document.prop.categories' | trans }} : 
        {% if document.categories is not empty %}
            {% for category in document.categories %}
			{{ category.name }} - 
			{% endfor %}
		{% else %}
			{{ 'document.prop.no_categories' | trans }}
		{% endif %}
		</p>
	</div>
	<div class="card-footer text-center">
		{% if document.documentName %}
            {% if mime == 'pdf' %}
                {% set button = 'read' %}
            {% endif %}
            {% if mime == 'mp4' %}
                {% set button = 'watch' %}
            {% endif %}
	    {% endif %}
		{{ app_action('button', button, 'document_' ~ button, {'documentName': document.documentName}, 'onclick="window.open(this.href); return false;"') | raw }}
		<br><small class="text-decoration-none">{{ 'document.prop.release_date' | trans }} : {{ document.releaseDate is empty ? 'document.prop.no_release_date' | trans : document.releaseDate | date("d/m/Y") }}</small>
	</div>
</div>
