{#
 * This file is a part of the fablab_ portal package.
 * 
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : document_management/document/edit.html.twig - date : 5 déc. 2022
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

{% trans_default_domain 'document' %}

{% extends 'base.html.twig' %}

{% block title %}{{ 'document.module.name' | trans | title }}{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block app_central %}

{% set route, role, button_name =
    [],
	[],
	[]
%}

<section class="container-fluid text-white bg-black">
	{{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="col-md-12 text-center">
			{{ app_action('submit', 'validate', "", {}) | raw }}
	</div>
    <div class="row box">
    	<div class="col-md-4">
    		{{ form_label(form.title, 'Titre') }}<br>
    		{{ form_errors(form.title) }}
    		{{ form_widget(form.title, { 'attr': {'class': ''}}) }}
    		{{ form_label(form.numberViews, 'Nombre de vues') }}<br>
    		{{ form_errors(form.numberViews) }}
    		{{ form_widget(form.numberViews, { 'attr': {'class': ''}}) }}
    	</div>
    	<div class="col-md-4">
    	{{ form_row(form.authors) }}
    	</div>
    	<div class="col-md-4">
    	{{ form_row(form.categories) }}
    	</div>
    	
    </div>
    <div class="row box justify-content-center">
    	<div class="col-md-8">
    		{{ form_label(form.summary, 'Sommaire') }}<br>
    		{{ form_errors(form.summary) }}
    		{{ form_widget(form.summary) }}
    	</div>
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}
    
</section>
{% endblock app_central %}